@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .flex-row-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .video-content {
    @apply absolute h-full top-0 right-0 left-0 flex-col-center items-center overflow-hidden duration-500;
    background: rgba(0, 0, 0, 0.3);
  }
  .btn-wrap {
    @apply absolute left-0 bottom-[15vh] right-0 h-1/4 w-full opacity-100 flex-row-center duration-500;
  }

  .btn-hero {
    @apply text-center h-12 w-44 overflow-hidden border border-black rounded-lg bg-white text-lg shadow;
  }

  .btn-hero:hover {
    @apply shadow-lg text-red-400;
  }
}

/* Hamburger */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-mid,
.hamburger-bot {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-mid {
  transform: translateY(7px);
}

.hamburger-bot {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 20px;
  right: 20px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #000;
}

.open .hamburger-mid {
  display: none;
}

.open .hamburger-bot {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #000;
}

/* Videos */
#videos:hover .video:not(:hover) {
  filter: grayscale(100%) blur(4px);
  opacity: 0.75;
}
